body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

#layout {
    background-color: #eee;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    padding: 20px 10px 0;
}

.glyphicon-arrow-right {
    visibility: hidden;
    position: absolute;
    left: -35px;
}

.title {
    position: relative;
}

#error {
    visibility: hidden;
}

/*.progress {
    height: 40px;
}

.progress-bar {
    line-height: 40px;
    font-weight: bold;
    font-size: 16px;
}*/

.player {
    display: none;
}

#dice {
    margin: 0 auto 20px;
    border-radius: 10px;
    height: 108px;
    width: 108px;
    background-image: url(http://lh5.ggpht.com/-yEEM8seKn18/T0ZwW5Cb5DI/AAAAAAAADAs/ZAf2qA8o29g/dice-sample%25255B7%25255D.png);
}

.one {
    background-position: -8px -13px;
}

.two {
    background-position: -119px -13px;
}

.three {
    background-position: -227px -17px;
}

.four {
    background-position: -11px 121px;
}

.five {
    background-position: -119px 120px;
}

.six {
    background-position: -228px 118px;
}